.washerwatcher-landing-background {
  background: url('/images/washer.jpg') no-repeat center center fixed;
  background-size: cover;
  margin-top: 30px;
}

.landing{
  margin-top: 30px;
  margin-bottom: 30px;
}

.introbar {
  margin-bottom: 40px;
}
