.washerwatcher-landing-background {
  padding: 30px 10px 30px 10px;
  background-image: url('/images/washer.jpg');
  background-size: cover;
}

.title {
  font-size: 72px !important;
}

.subheader {
  font-size: 36px !important;
}

.blankspace {
  padding: 70px 0px 0px 0px;
}
